<html>
	<head>
		<title>NC State Fair Finder</title>
		<style>
			.filter_button {background-color: blue; margin: 2px; padding: 2px;}
		</style>
	</head>
	<body>
		<script src="list.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

		<h1>Here are the food vendors.</h1>


		<div id="vendors">
			<!-- class="search" automagically makes an input a search field. -->
			<input class="search" placeholder="Search" /><br/>
			<!-- class="sort" automagically makes an element a sort buttons. The date-sort value decides what to sort by. -->

			<button class="filter-button-all">All</button>
			<filter-buttons-here/>

			<ul class="list">
				<list-here/>
			</ul>
		</div>
		<script>
			var options = {
				valueNames: [ 'vendor', 'foodtype', 'product' ]
			};
			
			var vendorList = new List('vendors', options);

			$('.filter-button').on('click',function(){
				var $text = $(this).text();
				if($(this).hasClass( 'selected' )){
					vendorList.filter();
					$(this).removeClass('selected');
				} else {
					vendorList.filter(function(item) {
					return (item.values().foodtype == $text);
					});
					$(this).addClass('selected');
				}
				});

			$('.filter-button-all').on('click',function(){
					vendorList.filter();
				});				
		</script>
		</body>
	</body>
</html>